<div class="relative w-full h-screen-90">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover" src="{{ background_image }}" alt="People working on laptops">
  </div>
  <div class="absolute inset-0 text-offwhite">
    <h1 class="absolute uppercase text-5xl sm:text-6xl font-thin  mb-0 bottom-16 sm:bottom-20 left-10 sm:left-16">Hollie<br/>Bowden</h1>
  </div>
</div>

<div class="relative bg-black md:grid grid-flow-row grid-cols-1 md:grid-cols-2 h-screen-90">
  <div class="bg-black h-full">
    <img src="/assets/pages/profile-1.jpg" class="h-full w-full object-cover" alt="">
  </div>
  <a href="/about" class="absolute inset-0 md:relative pt-36 sm:pt-36 px-10 sm:px-16 md:p-20 flex items-start md:items-center md:bg-black hover:bg-lightblack transition-colors">
    <p class="text-3xl sm:text-4xl font-louizeDisplay text-black md:text-offwhite js-show-on-scroll">a beauty fundamentalist, visionary designer and <span class="whitespace-nowrap">an aesthete...</span></p>
  </a>
</div>

<div class="relative grid grid-flow-row grid-cols-1 bg-offwhite h-screen-90 js-show-on-scroll">
  <div class="absolute inset-0">
    <img class="h-full w-full object-cover" src="/img/asset/YXNzZXRzL3Byb2plY3RzL2J1dGUvZmluYWxzLTEyLmpwZw==?w=600&h=400&fit=crop&fm=jpg&s=ec0bf00e9c58796cc98e8c1d70e791b6" alt="">
  </div>
    <a href="/interiors" class="absolute inset-0 text-black hover:text-lightblack transition-colors">
      <h1 class="absolute text-3xl sm:text-6xl font-thin mb-0 bottom-10 sm:bottom-20 right-10 sm:right-16 js-show-on-scroll">interiors</h1>
    </a>
</div>

<div class="relative grid grid-flow-row grid-cols-1 h-screen-90 js-show-on-scroll">
  <div class="absolute inset-0 flex items-center">
    <div class="w-full text-center p-16 flex flex-col items-center js-show-on-scroll">
      <img src="/assets/site/shop-bag.png" class="w-24 m-auto mb-6" alt="">
      <h1 class="text-3xl text-center inline-block sm:text-6xl font-thin text-black mb-6">Opening soon</h1>
      <p class="text-xl mb-6 max-w-lg">Our new online showroom of individual and unique items. Join our mailing list and be the first to know.</p>
      <button type="button" class="inline-flex items-center px-4 py-2 text-base font-medium rounded-sm shadow-sm text-offwhite bg-black hover:bg-lightblack text-black transition-colors">
        Notify me!
      </button>
    </div>
  </div>
</div>


<script type="text/javascript">

  // Fade in on scroll
    const callback = function (entries) {
    entries.forEach((entry) => {
      console.log(entry);

      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fadeInSlow");
      } else {
        entry.target.classList.remove("animate-fadeInSlow");
      }
    });
  };

  const observer = new IntersectionObserver(callback);

  const targets = document.querySelectorAll(".js-show-on-scroll");
  targets.forEach(function (target) {
    target.classList.add("opacity-0");
    observer.observe(target);
  });

</script>
