<div class="w-full m-auto max-w-7xl">
  {{ assets:images }}
    {{ if ! first }}
    <div class="{{ if image_display == "float-left" }}md:float-left md:w-1/2 {{ elseif image_display == "float-right" }}md:float-right md:w-1/2{{ else }}clear-both w-full m-auto{{ /if }} {{ if padding == "heavy" }}p-12 lg:p-32 lg:pt-12 {{ elseif padding == "none" }}px-0 py-12 {{ else }}px-12 pb-24  {{ /if }} flex items-center js-show-on-scroll">
      <img
        data-index={{ index }}
        class="block m-auto max-h-screen"
        src="{{ glide:url fm="jpg" height="900" }}"
        alt="{{ alt }}"
      />
    </div>
    {{ else }}
    {{ /if }}
  {{ /assets:images }}
</div>
