<div class="w-full m-auto max-w-full xl:mt-40">
  {{ assets:images }}
    <div class="js-show-on-scroll {{ if image_align == "left" }}md:float-left md:w-1/2 {{ elseif image_align == "right" }}md:float-right md:w-1/2{{ else }}clear-both w-full m-auto{{ /if }} {{ if padding }}{{ padding }}{{ else }}px-4 md:px-12{{ /if }} {{ unless display_inline }}clear-both{{ /unless }} mb-24 xl:mb-32">
      <img
        data-index={{ index }}
        class="block m-auto max-h-screen-90"
        src="{{ glide:url fm="jpg" height="1200" }}"
        alt="{{ alt }}"
      />
    </div>
  {{ /assets:images }}
</div>
