<ul role="list" class="m-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-3 sm:gap-x-24 lg:grid-cols-4 xl:gap-x-16">
  {{ collection:interiors }}
  <li class="relative">
    <div class="group block w-full aspect-w-10 aspect-h-7 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
      {{ assets:images limit="1" }}
      {{ if first }}
      <img src="{{ glide:url width="600" height="600" fit="contain" fm="jpg" }}" alt="" class="object-cover pointer-events-none group-hover:opacity-75">
      {{ else }}
      {{ /if }}
      {{ /assets:images }}
      <a href="{{ url }}" class="absolute inset-0 focus:outline-none">
        <span class="sr-only">View {{ title }}</span>
      </a>
    </div>
    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">{{ title }}{{ if location }}, {{ location }}{{ /if }}</p>
    <p class="block text-sm font-medium text-gray-500 pointer-events-none">{{ taxonomy:type }}</p>
  </li>
  {{ /collection:interiors }}
</ul>
