<div class="absolute-ns mt5 mt-1-3-rem-l ml-1-3-rem top-0-ns tl right-0-l flex flex-column flex-row-l">
  <section class="mb3 mr3-ns">
    <h3 class="ma0 f6 lh-copy louize-bold">Residential</h3>
    <nav class="mr3">
      {{ collection:interiors taxonomy:type="residential" }}
        <a href="{{ url }}" class="fadeOut link db"><h3 class="f6 fw1 mt2 lh-solid mb0 black-90 nowrap">{{ title }}{{ if location }}, {{ location }}{{ /if }}</h3></a>
      {{ /collection:interiors }}
    </nav>
  </section>
  <section class="mb3 mr3-ns">
    <h3 class="ma0 f6 lh-copy louize-bold">Commercial</h3>
      <nav class="mr3">
      {{ collection:interiors taxonomy:type="commercial" }}
        <a href="{{ url }}" class="fade link db"><h3 class="f6 fw1 mt2 lh-solid mb0 black-90 nowrap">{{ title }}{{ if location }}, {{ location }}{{ /if }}</h3></a>
      {{ /collection:interiors }}
    </nav>
  </section>

  <section class="mb3 mr3-ns">
    <h3 class="ma0 f6 lh-copy louize-bold">In Progress</h3>
    <nav class="mr3">
      {{ collection:interiors taxonomy:type="in-progress" }}
      <a href="{{ url }}" class="fade link db"><h3 class="f6 fw1 mt2 lh-solid mb0 black-90 nowrap">{{ title }}{{ if location }}, {{ location }}{{ /if }}</h3></a>
      {{ /collection:interiors }}
    </nav>
  </section>

</div>
