<div class="w-full m-auto">
  <div class="relative {{ if (images | count) < 2 }}h-screen{{ else }}h-screen-90{{ /if }} z-0 js-show-on-scroll">
    <div class="absolute inset-0">
      <img class="h-full w-full object-cover {{ project_alignment }}" src="{{ glide:lead_image fm="jpg" width="2000" fit="crop_focal" }}" alt="">
    </div>

    {{ if project_overlay != "none" and project_overlay != null }}
    <div class="absolute inset-0 {{ if project_overlay == "dark" }}bg-black{{ else }}bg-offwhite{{ /if }} opacity-{{ project_opacity }}">
    </div>
    {{ /if }}
  </div>
  <div id="scrollIndicator" class="hidden absolute bottom-0 md:w-1/3 lg:w-1/4 md:right-16 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 m-auto animate-pulse" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width=".8" d="M19 9l-7 7-7-7" />
    </svg>
  </div>
</div>

{{ partial:projects/nav2 }}


<div class="project-description px-8 mb-20 max-w-xl m-auto text-left text-base md:text-lg">
  {{ if description != "" && description != "<p></p>" }}
    {{ description }}
  {{ /if }}
  {{ if photographer }}
  <div class="text-sm mt-6 text-black opacity-40 {{ if description == "" || description == "<p></p>" && photographer }}text-center{{ /if }}">
    Photography by {{ if photographer_website }}<a href="{{ photographer_website }}" target="_blank"><span class="whitespace-nowrap underline">{{ photographer }}</span></a>{{ else }}<span class="whitespace-nowrap">{{ photographer }}</span>{{ /if }}
  </div>
  {{ /if }}
</div>




{{ partial:projects/images-grid }}

<script type="text/javascript">
// fade in content as scrolled
// Initial state
  var scrollPos = 0;
  // console.log(scrollPos);
  // adding scroll event
  window.addEventListener('scroll', function(){
    // detects new state and compares it with the new one
    if ((document.body.getBoundingClientRect()).top < -80)
      document.getElementById('scrollIndicator').classList.add('opacity-0'),
      console.log("scrollposition is " + scrollPos);
    else if ((document.body.getBoundingClientRect()).top > scrollPos)
      document.getElementById('scrollIndicator').classList.remove('opacity-0'),
      console.log("scrollposition is " + scrollPos);
    else
      console.log("scrollposition is " + scrollPos);
    // saves the new position for iteration.
    scrollPos = (document.body.getBoundingClientRect()).top;
  });


  // Fade in on scroll
    const callback = function (entries) {
    entries.forEach((entry) => {
      console.log(entry);

      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fadeIn");
      } else {
        entry.target.classList.remove("animate-fadeIn");
      }
    });
  };

  const observer = new IntersectionObserver(callback);

  const targets = document.querySelectorAll(".js-show-on-scroll");
  targets.forEach(function (target) {
    target.classList.add("opacity-0");
    observer.observe(target);
  });

</script>
