@import "../node_modules/tachyons-sass/tachyons.scss";
@import "typography";
@import "variables";
@import "tachyon-extends";

@media #{$breakpoint-not-small} {
  .lSSlideWrapper {
    padding-left: 1.3rem;
    height: 75vh;
    overflow: visible!important;
  }
  .lSSlideOuter {
    height: 75vh !important;
    overflow: visible!important;
  }
  .lSSlideOuter .lightSlider img:last-child {
    margin-right: 0px!important;
  }

}
.lSAction > a {
  opacity: 1!important;
  background-size: 20px;
  background-repeat: no-repeat;
  margin-top: 0px!important;
  // top: calc(75vh + 65px)!important;
  position: relative!important;
  @media #{$breakpoint-not-small} {
    // top: calc(75vh + 65px)!important;
    // position: fixed!important;
  }
  &.lSPrev {
    background-image: url('/site/themes/2019/img/arrow-left.svg')!important;
    background-position: center left!important;
    float: left;
    left: 0px;
    @media #{$breakpoint-not-small} {
      // float: none;
      // left: 1.3rem;
    }
  }
  &.lSNext {
    background-image: url('/site/themes/2019/img/arrow-right.svg')!important;
    background-position: center right!important;
    float: right;
    @media #{$breakpoint-not-small} {
      // float: none;
      // right: 1.3rem;
    }
  }
}

.bg-home {
  background-image: url("/assets/bg-home.jpg");
  background-repeat: no-repeat;
}

html {
      scroll-behavior: smooth;
    }

body {
  background-color: $off-white;

}
.sticky-footer__content {
  animation: fadein 1s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.sticky-footer {
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.sticky-footer__content {
  -webkit-box-flex: 1;
  flex: 1;
}
figure {
  flex: 0 0 auto;
}
